
@{
    ViewBag.Title = "Add File";
}


<div class="jumbotron">
    <p> File Upload </p>
</div>

<div class="jumbotron">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Upload File</span>
        </div>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile01">
            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
        </div>
    </div>
</div>